* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    border: 1px solid black;
}

div#word {
    position: relative;
}

div.row{
    height: 30px;
}

div.row div {
  
    width: 30px;
    height: 30px;
    border: 1px solid black;
    display: inline-block;
}

div.brick {
    background-color: blue;
}

div.coin {
    background: url(../img/coin.gif) no-repeat center;
}

div#pacman {
    background: url(../img/Pacman.gif) no-repeat center;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 1px;
    left: 1px;
}

div.empty {}